@use "mixin" as m;

* {
  font-family: "Chakra Petch", sans-serif;
}

body {
  width: 30%;
  margin: 0 auto;
  @include m.mq(sp) {
    width: 90%;
  }
}

ul {
  list-style: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  div {
    display: inline-block;
    position: relative;

    button {
      height: 30px;
      line-height: 30px;
      width: 100px;
      text-align: center;
      cursor: pointer;
      border-radius: 4px;
      font-size: 18px;
      background-color: rgb(169, 214, 169);
      margin: 30px;
      border: 1px solid gray;
      @include m.mq(sp) {
        margin: 10px;
        width: 80px;
      }
    }
    button:hover {
      background-color: rgb(191, 215, 191);
      opacity: 0.8;
      transition: 0.3s;
    }
    button:active {
      translate: 2px 2px;
      box-shadow: 2px 2px 0 rgb(63, 62, 62);
      transition: 0.1s;
    }
  }
}

#showTimer {
  font-size: 100px;
  font-weight: 800;
  margin: 20px;
  text-align: center;
  @include m.mq(sp) {
    font-size: 70px;
    font-weight: 500;
    margin: 5px;
  }
}

.records {
  font-size: 25px;
  ul {
    margin: 0;
  }
}

#times {
  display: inline-block;
  text-decoration: underline;
  margin-right: 20px;
}
#recordMins {
  display: inline-block;
  text-decoration: underline;
  margin-right: 20px;
}
#totalMins {
  display: inline-block;
  text-decoration: underline;
  margin-right: 20px;
}

h2 {
  @include m.mq(sp) {
    margin: 0;
  }
}
